.SubNav {
  width: 100%;
  height: 235px;
  background-image: url('../../../../public/images/subnav.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 28%;

  .categoryWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    letter-spacing: -0.1em;

    h1 {
      font-style: italic;
      font-size: 2.857em;
      font-weight: 800;
      color: #ffe86f;
    }

    .goPageList {
      display: flex;
      gap: 4px;
      font-style: italic;
      font-size: 15px;
      font-weight: 600;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}
