.myPage {
  .title {
    color: white;
    font-size: 2rem;
    padding-left: 30px;
  }

  .container {
    display: grid;
    padding-top: 30px;
    padding-left: 30px;
    gap: 5px;

    .myInfo {
      &:not(:first-child) {
        padding-top: 30px;
      }
      .subTitle {
        position: relative;
        h2 {
          position: absolute;
          left: 0;
          color: white;
          font-size: 1.5rem;
          display: inline;
          border: 1px solid white;
          padding: 5px 43px;
          border-radius: 8px;
          background: #333;
        }
        button {
          position: absolute;
          right: 0;
          color: #333;
          font-size: 1.5rem;
          display: inline;
          border: 1px solid white;
          padding: 5px 43px;
          border-radius: 8px;
          background: #ffe86f;
        }
      }

      .myForm {
        display: flex;
        background: #333;
        border-radius: 4px;
        margin-top: 25px;

        .myLeftForm {
          padding-top: 35px;
          width: 20%;
          text-align: center;
          display: inline-block;

          img {
            border-radius: 500px;
            width: 72%;
          }
        }
        .myRightForm {
          width: 80%;
          display: inline-block;
          padding-top: 35px;
          padding-bottom: 35px;
          padding-right: 35px;

          .bordBox {
            border-radius: 30px;
            display: flex;
            padding-top: 35px;
            padding-bottom: 35px;
            padding-right: 35px;

            .boxLeft,
            .boxRight {
              width: 50%;
              padding-left: 10%;
              display: grid;
              gap: 20px;
            }
          }
        }

        .trainerBox {
          width: 100%;
          display: flex;
          justify-content: space-around;
          padding-top: 35px;
          padding-bottom: 35px;
        }
      }

      .recommandForm {
        width: 20%;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;

        img {
          border-radius: 500px;
          width: 72%;
          padding: 15px;
        }
        p {
          color: white;
          font-size: 1.3rem;
        }
      }
    }
  }
}
