.contentsWrap {
  .sortingBtn {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    .myBtn {
      width: 8em;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 0.4rem;
      background-color: #ffe86f;
    }

    .checkboxWrap {
      display: flex;
      gap: 16px;
      color: #ffe86f;
    }

    .sortSelect {
      width: 8em;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.4rem;
    }
  }
}
