@import '../../../styles/mixin.scss';

.header {
  width: 100%;
  height: 92px;
  background-color: black;

  .navOutWrap {
    @include FlexCenter;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    color: #fff;

    .pathWrap {
      display: flex;
      align-items: center;
      height: 100%;
      color: #fff;

      img {
        width: 80px;
        height: 80px;
      }

      &:hover {
        color: #ffe86f;
      }
    }

    .navWrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 959px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.3px;

      .navItemWrap {
        @include FlexCenter;
        margin-right: 15px;

        .navItem {
          display: flex;
          align-items: center;
          height: 66px;
          margin: 0 15px;

          .pathBtn {
            display: flex;
            align-items: center;
            height: 100%;
            color: #fff;
            font-weight: bold;
            font-size: 14px;

            &:hover {
              color: #ffe86f;
            }
          }
        }
      }
    }
  }
}
